html {
  font-size: 62.5%;
}

html, div, ul, li, a, header, head, body, img, footer, h1, h2, h3, p {
  margin: 0px;
  padding: 0px;
}

p, div, button, h1, h2, h3, h4{
  font-family: "Comic Sans MS", "Comic Sans", cursive; 
}
p, div, button, h4{
  font-size: 2rem; 
}

h2{
  padding-top: 15px; 
}

td{
  font-size: 3rem; 
}


table, td {
    border: 1px solid black;
    /*background: blue;  */  
}
table {
    width: 350px;
    border-collapse: collapse;
    border-width:10px;
    border-color: grey;
    text-align: center;
    float: left;
    margin-left: 95rem;
    margin-top: 9rem;
    display:none;
}
td{
  height: 50px;
  width: 50px;
  border-style: solid; 
  border-width:2px;
  border-color: grey;
}
.ship {
  background: #16a5e3;
  color: transparent;
  /*background: url('../img/ship.png') no-repeat center center;*/
  /*display:none;*/
}
.water{
  background: #16a5e3;
  color: #16a5e3;
}
#first, #second{
  max-width: 1680px;  
  height: 980px;  
  color: rgb(136, 107, 34);
  text-align: center;
  /*background: blue;*/ 
}
#first{  
  /*background: blue;*/
  background: url('../img/gameship11.png') no-repeat center center;
}
#second{  
  /*background: blue;*/
  background: url('../img/gameship22.png') no-repeat center center;
  display:none;
}

#description{
  width: 500px;
  height: 200px;
  background-color: rgba(84, 210, 236, 0.83);
  text-align: center;
  padding: 35px;
  margin-left: 555px;
  margin-top: 50px;
}
.text1{
  /*font-size:14px;
  font-family: "Comic Sans MS", "Comic Sans", cursive; */
}
#start, #refresh{
  width: 130px;
  height: 60px;
  margin: 28px;
  border-radius: 26px;
  background: #83e7ff;
}
#refresh{
  float: right;
  margin-right: 431px;
}
#notship{
  float: left;
  margin-left: 95rem;
  margin-top: 5rem;
}
