table, td {
    border: 1px solid black;
    background: blue;    
}
table {
    width: 350px;
    border-collapse: collapse;
    border-width:10px;
    border-color: grey;
    display:none;
}
td{
  height: 50px;
  width: 50px;
  border-style: solid; 
  border-width:2px;
  border-color: grey;
}
.ship {
  background: #2ec3fa;
  /*background: url('../img/ship.png') no-repeat center center;*/
  /*display:none;*/
}
.water{
  background: #2ec3fa;
}